.row {
  width: 100%;
}

.title-row {
  border-bottom: 1px solid blue;
}

.top-row {
  display: grid;
  grid-template-columns: auto auto auto;
}

.chart-row {
  display: grid;
  grid-template-columns: auto auto;
}